<div [@routerTransition]>
  <app-page-header [heading]="'Inserir Formas de Pagamento'" [icon]="'fa-edit'"></app-page-header>
  <form [formGroup]="registerForm">
    <div class="row">
      <div class="input-group col-md-12">
        <input type="text" placeholder="Nome" [ngClass]="{ 'is-invalid': f.nome.errors }" formControlName="nome" class="form-control"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div *ngIf="f.nome.errors || registerForm.get('nome').status === 'PENDING'" class="text-danger">
          <div *ngIf="f.nome.errors?.required && f.nome.touched">Nome é obrigatório</div>
          <div *ngIf="f.nome.errors?.minlength">Nome deve ter mais de 4 caracteres</div>
        </div>
        <div class="small text-danger col-md-6">
          <div *ngIf="registerForm.get('nome').status === 'PENDING'">
            Aguarde...
          </div>
          <div class="text-primary" *ngIf="registerForm.get('nome').status === 'VALID'">
            Nome permitido!
          </div>

          <div *ngIf="registerForm.get('nome').errors && registerForm.get('nome').errors.nome">
            Ops!! , esse nome de categoria já foi cadastrado !
          </div>
        </div>
      </div>
    </div>
    <button (click)="salvar()" class="btn btn-success" [disabled]="!(registerForm.status === 'VALID' && submitted)">
      Salvar
    </button>
  </form>
</div>