<div [@routerTransition]>
  <app-page-header [heading]="'Iniciar Venda'" [icon]="'fa-edit'">
  </app-page-header>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <ng-select [(ngModel)]="cliente"  placeholder="Escolha o cliente">
          <ng-option *ngFor="let cliente of clientes" [value]="cliente.codigo_cliente">
            {{cliente.razao_social}}
          </ng-option>
        </ng-select>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <ng-select [(ngModel)]="pagamento_model"  placeholder="Forma Pagamento">
          <ng-option *ngFor="let pagamento of pagamentos" [value]="pagamento">
            {{pagamento.cDescricao}}
          </ng-option>
        </ng-select>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table table-striped table-bordered">
        <thead>
          <tr class="text-center">
            <th>Quantidade</th>
            <th>Preço Unitário</th>
            <th>Carnes/Frios</th>
            <th>Ação</th>
          </tr>
        </thead>
        <tbody>
          <tr style="padding-top:200px;padding-bottom:200px" *ngFor="let field of fieldArray; let i = index">
            <td>
              <input (ngModelChange)="editarQuantidade(i,$event)" [(ngModel)]="field.quantidade" class="form-control" type="number" min="0"
                max="20" name="{{field.quantidade}}" />
            </td>
            <td>
              <input (ngModelChange)="editarPreco(i,$event)" [(ngModel)]="field.preco" class="form-control" type="text" name="{{field.preco}}"
                currencyMask />
            </td>
            <td >
              <ng-select [(ngModel)]="field.carne" (ngModelChange)="editarCarne($event,i)">
                <ng-option   *ngFor="let c of simpleItems" [value]="c.codigo_produto" id="newAttributeCarne">
                  {{c.descricao}}
                </ng-option>
              </ng-select>
            </td>
            <td>
              <button class="btn btn-danger" type="button" (click)="deleteFieldValue(i)">Remover</button>
            </td>
          </tr>
          <tr class="">
            <td>
              <input placeholder="02" class="form-control" type="text" required type="number" min="1" max="20" id="newAttributeQuantidade"
                [(ngModel)]="newAttribute.quantidade" name="newAttributeQuantidade" />
            </td>
            <td>
              <input class="form-control" type="text" placeholder="R$20,00" currencyMask id="newAttributePrice" [(ngModel)]="newAttribute.preco"
                name="newAttributePrice" />
            </td>
            <td>
              <ng-select placeholder="Carnes/Frios" name="produtos" class="" (ngModelChange)="alterarCarne($event)" [(ngModel)]="newAttribute.carne">
                <ng-option *ngFor="let c of simpleItems" name="newAttributeCarne" [value]="c.codigo_produto" id="newAttributeCarne">
                  {{c.descricao}}
                </ng-option>
              </ng-select>
            </td>
            <td align="center">
              <button class="btn btn-success" type="button" [disabled]="isValid" (click)="!isValid && addFieldValue()">Adicionar</button>
            </td>
          </tr>
          <tr class="" *ngIf="total !== 0">
            <td colspan="3" class="text-center">
              <span class="h2">Total: </span>
              <span class="h2">R$
                <span class="h3">{{total.toFixed(2) }}</span>
              </span>

            </td>
            <td>
              <button [disabled]="isValid" (click)="!isValid && finalizar()" class="btn btn-primary">Finalizar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

