::-webkit-input-placeholder {
    text-align: left;
 }
 
 :-moz-placeholder { /* Firefox 18- */
    text-align: left;  
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
    text-align: left;  
 }
 
 :-ms-input-placeholder {  
    text-align: left; 
 }
