<div [@routerTransition]>
  <app-page-header [heading]="'Listar Formas de Pagamento'" [icon]="'fa-edit'"></app-page-header>
  <!--Top Table UI-->
  <div class="card p-2 mb-5">

    <!--Grid row-->
    <div class="row">

      <!--Grid column-->
      <div class="d-flex col-lg-4 col-md-4">

        <!--Name-->
        <select class="mdb-select colorful-select dropdown-primary mx-2">
          <option value="" disabled selected>Ações</option>
          <option value="1">Deletar</option>
          <option value="2">Exportar</option>
        </select>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="d-flex col-lg-4 col-md-4">

        <!--Blue select-->
        <select class="mdb-select colorful-select dropdown-primary mx-2">
          <option value="" disabled selected>Todas as Formas De Pagamento</option>
          <option value="1">
            <span> Do dia</span>
          </option>
          <option value="2">Da semana
            <span> (200)</span>
          </option>
          <option value="3">Do mês
            <span> (1800)</span>
          </option>
        </select>
        <!--/Blue select-->

      </div>
      <!--Grid column-->


      <!--Grid column-->
      <div class="col-lg-4 col-md-4">

        <form class="form-inline md-form mt-2 ml-2">
          <input class="form-control my-0" type="text" placeholder="Procurar">
          <button class="btn btn-sm btn-primary ml-2 px-1">
            <i class="fa fa-search"></i>
          </button>
        </form>

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

  </div>
  <!--Top Table UI-->

  <div class="card card-cascade narrower">

    <!--Card image-->
    <div class="view view-cascade gradient-card-header blue-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">

      <div>
        <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2">
          <i class="fa fa-th-large mt-0"></i>
        </button>
        <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2">
          <i class="fa fa-columns mt-0"></i>
        </button>
      </div>

      <span class="white-text mx-3">
        <h3>Formas de Pagamento</h3>
      </span>

      <div>
        <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2">
          <i (click)="editar()" class="fa fa-pencil mt-0"></i>
        </button>
        <button type="button" (click)="open(contentExcluir)" class="btn btn-outline-white btn-rounded btn-sm px-2">
          <i class="fa fa-remove mt-0" title="REMOVER"></i>
        </button>

      </div>

    </div>
    <!--/Card image-->

    <div class="px-4">

      <div class="table-wrapper table-responsive">
        <!--Table-->
        <table class="table table-hover mb-0">

          <!--Table head-->
          <thead>
            <tr>
              <th>
                <input class="form-check-input" type="checkbox" id="checkbox">
                <label class="form-check-label" for="checkbox" class="mr-2 label-table"></label>
              </th>
              <th class="th-lg">
                <a>Nome
                  <i class="fa fa-sort ml-1"></i>
                </a>
              </th>


            </tr>
          </thead>
          <!--Table head-->

          <!--Table body-->
          <tbody>

            <tr *ngFor="let fp of formasDePagamento;let i = index" style="cursor:pointer">
              <th scope="row">
                <input style="cursor:pointer" class="form-check-input" type="radio" [value]="fp.id" [(ngModel)]="myRadio" name="fp.id">
              </th>

              <th>{{fp.nome}}</th>

            </tr>

          </tbody>
          <!--Table body-->
        </table>
        <!--Table-->
      </div>

      <hr class="my-0">

      <!--Bottom Table UI-->
      <div class="d-flex justify-content-between">

        <!--Name-->
        <select class="mdb-select colorful-select dropdown-primary mt-2 hidden-md-down">
          <option value="" disabled>Rows number</option>
          <option value="1" selected>10 rows</option>
          <option value="2">25 rows</option>
          <option value="3">50 rows</option>
          <option value="4">100 rows</option>
        </select>

        <!--Pagination -->
        <nav class="my-4">
          <ul class="pagination pagination-circle pg-blue mb-0">

            <!--First-->
            <li class="page-item disabled clearfix d-none d-md-block">
              <a class="page-link">Primeiro</a>
            </li>

            <!--Arrow left-->
            <li class="page-item disabled">
              <a class="page-link" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>

            <!--Numbers-->
            <li *ngFor="let page of pages;let i = index " class="page-item" [class.active]="active==i+1">
              <a (click)="paginou(i+1)" class="page-link">{{i+1}}</a>
            </li>

            <!--Arrow right-->
            <li class="page-item">
              <a class="page-link" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Próximo</span>
              </a>
            </li>

            <!--First-->
            <li class="page-item clearfix d-none d-md-block">
              <a class="page-link">Último</a>
            </li>

          </ul>
        </nav>
        <!--/Pagination -->

      </div>
      <!--Bottom Table UI-->

    </div>
  </div>
  <!-- Modal Confirmar -->
  <ng-template #contentExcluir let-c="close" let-d="dismiss">
    <div class="modal-header" style="margin:0 auto;text-align:center">
      <h4 style="text-align: center">Confirmar Exclusão ?</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <button type="button" (click)="excluirEmpresa()" class="btn btn-primary">Confirmar</button>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-right">
          <button type="button" class="btn btn-danger" (click)="c('Close click')">Cancelar</button>
        </div>
      </div>

    </div>
    <div class="modal-footer">

    </div>

  </ng-template>
  <!-- fim modal email-->
  <!-- Modal email -->
  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">E-mail do Fornecedor</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <div class="form-group">
        <label for="exampleInputEmail1">Email </label>
        <input [(ngModel)]="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="joaquim@gmail.com">
      </div>
    </div>
    <div class="modal-footer">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <button (click)="enviarEmail(email)" type="button" class="btn btn-primary">Enviar</button>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-right">
        <button type="button" class="btn btn-danger" (click)="c('Close click')">Fechar</button>
      </div>
    </div>

  </ng-template>
  <!-- fim modal email-->
</div>