<div [@routerTransition]>
    <h2 class="text-muted">Garrel -
        <small> Painel Administrativo</small>
    </h2>
    <!--
    <div class="row">
        <div class="col-md-12">
            <ngb-carousel>
                <ng-template ngbSlide *ngFor="let slider of sliders">
                    <img class="img-fluid mx-auto d-block" [src]="slider.imagePath" alt="Random first slide" width="100%">
                    <div class="carousel-caption">
                        <h3>{{slider.label}}</h3>
                        <p>{{slider.text}}</p>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </div>
    -->
    <hr>
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xl-3 col-lg-6">
            <app-stat [bgClass]="'primary'" [icon]="'fa-comments'" [count]="26" [label]="'Usuários'"></app-stat>
        </div>
        <div class="col-md-6 col-sm-6 col-xl-3 col-lg-6">
            <app-stat [bgClass]="'warning'" [icon]="'fa-tasks'" [count]="12" [label]="'Clientes'"></app-stat>
        </div>
        <div class="col-md-6 col-sm-6 col-xl-3 col-lg-6">
            <app-stat [bgClass]="'success'" [icon]="'fa-shopping-cart'" [count]="124" [label]="'Produtos'"></app-stat>
        </div>
        <div class="col-md-6 col-sm-6 col-xl-3 col-lg-6">
            <app-stat [bgClass]="'danger'" [icon]="'fa-support'" [count]="13" [label]="'Vendas!'"></app-stat>
        </div>
    </div>


</div>