<div [@routerTransition]>
  <app-page-header [heading]="'Cadastrar Fornecedores'" [icon]="'fa-edit'">
  </app-page-header>
  <div class="container">
   
    
      <div class="col-md-12 order-md-1">
        
        <form class="needs-validation" >
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="firstName">Razão Social</label>
              <input type="text" class="form-control" name="razao_social" [(ngModel)]="razao_social" placeholder="Empresa-1" [value]="razao_social" required>
              <div class="invalid-feedback">
                Valid first name is required.
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="lastName">Nome Fantasia</label>
              <input type="text" class="form-control" name="fantasia" [(ngModel)]="fantasia" placeholder="Empresa de carnes" [value]="fantasia" required>
              <div class="invalid-feedback">
                Valid last name is required.
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="firstName">Proprietário</label>
              <input type="text" class="form-control" name="proprietario" [(ngModel)]="proprietario" placeholder="Jose Carlos" [value]="proprietario" required>
              <div class="invalid-feedback">
                Valid first name is required.
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="lastName">E-mail</label>
              <input type="text" class="form-control" name="email" [(ngModel)]="email" placeholder="jose@gmail.com" [value]="email" required>
              <div class="invalid-feedback">
                Valid last name is required.
              </div>
            </div>
          </div>



          <div class="mb-3">
            <label for="address">Endereço</label>
            <input type="text" class="form-control" name="endereco" [(ngModel)]="endereco" placeholder="Rua abadia número-1" [value]="endereco" required>
            <div class="invalid-feedback">
              Please enter your shipping address.
            </div>
          </div>

          <div class="mb-3">
            <label for="address2">Telefone <span class="text-muted">(Optional)</span></label>
            <input type="text" class="form-control" name="telefone" [(ngModel)]="telefone" placeholder="(62) 32233-2334" [value]="telefone">
          </div>

          <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
              <label for="country">Cidade</label>
              <select [(ngModel)]="cidade" name="cidade" class="custom-select d-block w-100" id="country">
                <option value="Goiânia">Goiânia</option>
                <option value="Caldas-Novas">Caldas-Novas</option>
              </select>
              <div class="invalid-feedback">
                Please select a valid country.
              </div>
            </div>
           
            <div class="col-md-6 col-sm-6 col-xs-12">
              <label for="zip">Cep</label>
              <input type="text" name="cep" class="form-control" [(ngModel)]="cep" placeholder="74000000" [value]="cep" required>
              <div class="invalid-feedback">
                Zip code required.
              </div>
            </div>
          </div>
          <hr class="mb-4">
          
          <hr class="mb-4">
          <button (click)="finalizar()" class="btn btn-success btn-lg btn-block" type="submit">{{operacao}}</button>
        </form>
      </div>
    </div>
 
</div>