<div [@routerTransition]>
  <app-page-header [heading]="'Inserir Produtos'" [icon]="'fa-edit'"></app-page-header>
  <form [formGroup]="registerForm">
    <div class="row">
      <div class="col-md-6">
        <div class="input-group">
          <input type="text" placeholder="Nome" [ngClass]="{ 'is-invalid': f.nome.errors }" formControlName="nome" class="form-control"
          />
        </div>
        <div *ngIf="f.nome.errors || registerForm.get('nome').status === 'PENDING'" class="text-danger">
          <div *ngIf="f.nome.errors?.required && f.nome.touched">Nome é obrigatório</div>
          <div *ngIf="f.nome.errors?.minlength">Nome deve ter mais de 4 caracteres</div>
        </div>
        <div class="small text-danger col-md-6">
          <div *ngIf="registerForm.get('nome').status === 'PENDING'">
            Aguarde...
          </div>
          <div class="text-primary" *ngIf="registerForm.get('nome').status === 'VALID'">
            Nome permitido!
          </div>

          <div *ngIf="registerForm.get('nome').errors && registerForm.get('nome').errors.nome">
            Ops!! , esse nome de categoria já foi cadastrado !
          </div>
        </div>
      </div>
      <div class="col-md-6">

          <input class="form-control" type="text" placeholder="R$20,00" currencyMask id="newAttributePrice" 
          formControlName="newAttributePrice" />
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <ng-select formControlName="categoria_id"   placeholder="Escolha a categoria">
          <ng-option *ngFor="let categoria of categorias" [value]="categoria.id">
            {{categoria.nome}}
          </ng-option>
        </ng-select>
      </div>
    </div>
    <button (click)="salvar()" class="btn btn-success mt-2" [disabled]="!(registerForm.status === 'VALID' && submitted)">
      Salvar
    </button>
  </form>
</div>